@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-default);
  font-weight: var(--fw-normal);
  line-height: 1.5;
  color: var(--clr-white);

  background-color: var(--clr-grey-3);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.page-rating {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;

  overflow: hidden;
}
