@use "utils" as *;
@use "variables" as *;

.hidden-right {
  opacity: 0;
  transform: translateX(100%);
}

.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
}

.transition {
  transition: transform 0.7s ease-in, opacity 0.7s ease-in;
}

.out-of-flow {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.card {
  grid-column: 1;
  grid-row: 1;

  max-width: var(--maxw-card);
  background: linear-gradient(
    to top,
    var(--clr-grey-card-bottom),
    var(--clr-grey-card-top)
  );

  padding: var(--sp-6);
  padding-block-end: var(--sp-7);
  border-radius: var(--br-1);

  @media (min-width: $bp-desktop) {
    padding: var(--sp-7);
    padding-block-end: var(--sp-8);
  }
}

.title {
  font-size: var(--fs-7);
  line-height: var(--lh-2);

  @media (min-width: $bp-desktop) {
    font-size: var(--fs-8);
  }
}

.description {
  color: var(--clr-grey-1);
  font-size: var(--fs-3);

  @media (min-width: $bp-desktop) {
    font-size: var(--fs-4);
  }
}

.btn {
  display: block;
  width: 100%;
  padding: var(--sp-4);
  border-radius: var(--br-1);
  cursor: pointer;

  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-4);
}
