@use "./utils" as *;

$bp-desktop: #{toRem(600px)};

:root {
  --clr-primary: hsl(25, 97%, 53%);

  --clr-white: #ffffff;
  --clr-grey-1: #959eac;
  --clr-grey-2: #252d37;
  --clr-grey-3: #121417;

  --clr-grey-card-bottom: #171e28;
  --clr-grey-card-top: #222933;

  --fs-default: #{toRem(15px)};

  --ff-main: "Overpass";

  --fw-normal: 400;
  --fw-bold: 700;

  // FONT SIZE
  --fs-1: #{toRem(10px)};
  --fs-2: #{toRem(12px)};
  --fs-3: #{toRem(14px)};
  --fs-4: #{toRem(16px)};
  --fs-5: #{toRem(18px)};
  --fs-6: #{toRem(20px)};
  --fs-7: #{toRem(24px)};
  --fs-8: #{toRem(30px)};
  --fs-9: #{toRem(36px)};
  --fs-10: #{toRem(44px)};
  --fs-11: #{toRem(52px)};
  --fs-12: #{toRem(62px)};
  --fs-13: #{toRem(74px)};
  --fs-14: #{toRem(86px)};
  --fs-15: #{toRem(98px)};

  // SPACING
  --sp-1: #{toRem(2px)};
  --sp-2: #{toRem(4px)};
  --sp-3: #{toRem(8px)};
  --sp-4: #{toRem(12px)};
  --sp-5: #{toRem(16px)};
  --sp-6: #{toRem(24px)};
  --sp-7: #{toRem(32px)};
  --sp-8: #{toRem(48px)};
  --sp-9: #{toRem(64px)};
  --sp-10: #{toRem(80px)};
  --sp-11: #{toRem(96px)};
  --sp-12: #{toRem(128px)};

  // Line heights
  --lh-1: 1;
  --lh-2: 1.5;

  // Border radius
  --br-1: 20px;
  --br-circle: 100%;

  // Max widths
  --maxw-card: #{toRem(327px)};
  @media (min-width: $bp-desktop) {
    --maxw-card: #{toRem(412px)};
  }
}
